body {
  background-image: url("../../image/bg1.jpg");
  background-position: cover;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-image img {
  width: 270px;
  background-color: white;
  box-shadow: 10px 10px 20px gray;
  border-radius: 15px;
}
.image-link {
  margin-top: 10px;
  padding: 20px;
}
